dify-DSL/try-insta-15052026.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: try-insta-2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.0@beafb5a726eda839a1839f61a0456ae7e068c98624c53f59b07be9a71fbf72da
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: 2af339de-b4e6-445a-8cbf-e9c0da3304c9
    name: lead_status
    selector:
    - conversation
    - lead_status
    value: normal
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1776196772334-source-1778711000000-target
      selected: false
      source: '1776196772334'
      sourceHandle: source
      target: '1778711000000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1778711000000-true-1778711100000-target
      selected: false
      source: '1778711000000'
      sourceHandle: 'true'
      target: '1778711100000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1778711100000-1778810000001-1778711310000-target
      selected: false
      source: '1778711100000'
      sourceHandle: '1778810000001'
      target: '1778711310000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1778711100000-1778810000002-1778810000003-target
      selected: false
      source: '1778711100000'
      sourceHandle: '1778810000002'
      target: '1778810000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1778810000003-source-1778711210000-target
      selected: false
      source: '1778810000003'
      sourceHandle: source
      target: '1778711210000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1778711000000-1778711000002-1778705062518-target
      selected: false
      source: '1778711000000'
      sourceHandle: '1778711000002'
      target: '1778705062518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778711000000-1778810000004-1778810000005-target
      selected: false
      source: '1778711000000'
      sourceHandle: '1778810000004'
      target: '1778810000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1778711000000-false-1777930654940-target
      selected: false
      source: '1778711000000'
      sourceHandle: 'false'
      target: '1777930654940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-answer-target
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17779338523370-source-17779338829760-target
      selected: false
      source: '17779338523370'
      sourceHandle: source
      target: '17779338829760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1778705062518-source-17779338523370-target
      selected: false
      source: '1778705062518'
      sourceHandle: source
      target: '17779338523370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1777930654940-1778708817721-llm-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778708817721'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1777930654940-1778708918432-17787090988200-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778708918432'
      target: '17787090988200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17787090988200-source-17787091219680-target
      selected: false
      source: '17787090988200'
      sourceHandle: source
      target: '17787091219680'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1777930654940-1778709206657-1778712400000-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778709206657'
      target: '1778712400000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1778712400000-source-1778712000000-target
      selected: false
      source: '1778712400000'
      sourceHandle: source
      target: '1778712000000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1778712000000-true-1778712200000-target
      selected: false
      source: '1778712000000'
      sourceHandle: 'true'
      target: '1778712300000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1778712300000-source-1778712200000-target
      selected: false
      source: '1778712300000'
      sourceHandle: source
      target: '1778712200000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1778712000000-false-1778705062518-target
      selected: false
      source: '1778712000000'
      sourceHandle: 'false'
      target: '1778705062518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17787094780140-source-17787094780141-target
      selected: false
      source: '17787094780140'
      sourceHandle: source
      target: '17787094780141'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1778711700000-source-17787097912781-target
      selected: false
      source: '1778711700000'
      sourceHandle: source
      target: '17787097912781'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1777930654940-1778709436341-17787094780140-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778709436341'
      target: '17787094780140'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17787096935240-source-17787096935241-target
      selected: false
      source: '17787096935240'
      sourceHandle: source
      target: '17787096935241'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1777930654940-1778709597803-17787096935240-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778709597803'
      target: '17787096935240'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1777930654940-1778709764500-1778711700000-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778709764500'
      target: '1778711700000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1777930654940-1778800000000-1778800000001-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778800000000'
      target: '1778800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1777930654940-1778820000000-1778820000001-target
      selected: false
      source: '1777930654940'
      sourceHandle: '1778820000000'
      target: '1778820000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1778820000001-source-1778820000002-target
      selected: false
      source: '1778820000001'
      sourceHandle: source
      target: '1778820000002'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Начало
        type: start
        variables: []
      height: 73
      id: '1776196772334'
      position:
        x: 147.02342227520717
        y: 59
      positionAbsolute:
        x: 147.02342227520717
        y: 59
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: c9402fda-56f6-4604-b939-73feceb7d572
          role: system
          text: 'Отвечай: Здравствуйте! Вам нужна подготовка к ЕГЭ или ОГЭ? (Если
            это аккаунт по истории и обществознанию, то "Здравствуйте! Вам нужны история
            или обществознание? Подготовка к ЕГЭ или ОГЭ?". '
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 1808.149717420634
        y: 312.5205159940247
      positionAbsolute:
        x: 1808.149717420634
        y: 312.5205159940247
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Ответ
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 2085.090270359191
        y: 312.5205159940247
      positionAbsolute:
        x: 2085.090270359191
        y: 312.5205159940247
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1778708817721'
          label: GREETING OR JUST FIRST MESSAGE
          name: 'Если клиент просто поздоровался, либо написал какое-либо первое сообщение

            без указания к какому экзамену нужна подготовка. Например "Как к вам записаться?"'
        - id: '1778708918432'
          label: EXAM_REQUEST
          name: Клиент хочет подготовку к ОГЭ/ЕГЭ или сразу указал предмет/экзамен.
        - id: '1778709206657'
          label: PRICE_QUESTION
          name: Клиент спрашивает стоимость, цену, тариф, сколько стоит.
        - id: '1778709436341'
          label: GRADES_5_8_NON_MATH
          name: Клиент просит занятия для 5–8 класса, предмет не математика.
        - id: '1778709597803'
          label: NOt_EG_NOT_5_8
          name: запрос клиента НЕ подготовка к ЕГЭ и ОГЭ и НЕ подготовка в 5-8 классе,
            то ответ
        - id: '1778709764500'
          label: GRADES_5_8_MATH
          name: Клиент просит математику для 5–8 класса.
        - id: '1778800000000'
          label: VERSION_CHECK
          name: Клиент спрашивает текущую версию, номер версии, дату публикации или контрольную метку публикации.
        - id: '1778820000000'
          label: FAQ_QUESTION
          name: 'Клиент задает FAQ-вопрос про платформу, формат занятий, индивидуальные или групповые уроки, онлайн-школу, кто ведет занятия, звонок, количество уроков в неделю, оплату, оплату после каждого занятия, 10 класс, расписание, время занятий, ВК, WhatsApp или Telegram.'
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1776196772334'
        - sys.query
        selected: false
        title: Классификатор вопросов
        type: question-classifier
        vision:
          enabled: false
      height: 346
      id: '1777930654940'
      position:
        x: 451.2878804121118
        y: 282
      positionAbsolute:
        x: 451.2878804121118
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 41c3a604-5bde-4b5f-a4cc-c02b2a6d8164
            value: все цены
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 262f2c11-af14-43b5-a873-6115fdc16841
            value: прайс
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: bdbcf7a3-7318-45cc-9a5c-492e99aafc03
            value: различ
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 293f8808-34a7-44d9-b381-fcfca74d2f50
            value: по предмет
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        desc: ''
        selected: false
        title: broad price guard
        type: if-else
      height: 202
      id: '1778712000000'
      position:
        x: 1169.997637188761
        y: -15.4794492256068
      positionAbsolute:
        x: 1169.997637188761
        y: -15.4794492256068
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Да, конечно. Я вам предоставлю необходимую информацию по ценам. Но
          для начала хочу уточнить: вам нужна подготовка к ЕГЭ или ОГЭ? Вам нужны
          история или обществознание?'
        desc: ''
        selected: false
        title: ask price details
        type: answer
        variables: []
      height: 180
      id: '1778712200000'
      position:
        x: 2398.5474154230947
        y: 429.4274663489669
      positionAbsolute:
        x: 2398.5474154230947
        y: 429.4274663489669
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: waiting_price_details
          variable_selector:
          - conversation
          - lead_status
          write_mode: over-write
        selected: false
        title: lead_status = waiting_price_details before price
        type: assigner
        version: '2'
      height: 84
      id: '1778712400000'
      position:
        x: 891.8847016638701
        y: -15.4794492256068
      positionAbsolute:
        x: 891.8847016638701
        y: -15.4794492256068
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: waiting_price_details
          variable_selector:
          - conversation
          - lead_status
          write_mode: over-write
        selected: false
        title: lead_status = waiting_price_details
        type: assigner
        version: '2'
      height: 84
      id: '1778712300000'
      position:
        x: 1808.149717420634
        y: 429.4274663489669
      positionAbsolute:
        x: 1808.149717420634
        y: 429.4274663489669
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 7a16a352-3168-4644-8600-7d3db41be5a0
            value: waiting_referral_decision
            varType: string
            variable_selector:
            - conversation
            - lead_status
          id: 'true'
          logical_operator: and
        - case_id: '1778711000002'
          conditions:
          - comparison_operator: is
            id: 29dc916e-8f6c-4c49-9b1a-5194ebcdf108
            value: waiting_price_details
            varType: string
            variable_selector:
            - conversation
            - lead_status
          id: '1778711000002'
          logical_operator: and
        - case_id: '1778810000004'
          conditions:
          - comparison_operator: is
            id: 0d1e961b-40d8-49ff-a536-f0aeb272d318
            value: waiting_referral_details
            varType: string
            variable_selector:
            - conversation
            - lead_status
          id: '1778810000004'
          logical_operator: and
        desc: ''
        selected: false
        title: lead_status check
        type: if-else
      height: 220
      id: '1778711000000'
      position:
        x: 451.2878804121118
        y: 80
      positionAbsolute:
        x: 451.2878804121118
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1778810000001'
          label: REFERRAL_DECLINE
          name: 'Клиент отказывается от подбора другого специалиста. Примеры: нет, не надо, не хочу, не нужно, неинтересно, откажусь.'
        - id: '1778810000002'
          label: REFERRAL_ACCEPT
          name: 'Клиент соглашается на подбор другого специалиста или отвечает нейтрально/положительно. Примеры: да, давайте, можно, хорошо, ок, конечно.'
        desc: ''
        instructions: 'Классифицируй только ответ клиента на вопрос: "могу подобрать другого специалиста, что думаете?". Если клиент явно отказывается, выбирай REFERRAL_DECLINE. Во всех остальных случаях выбирай REFERRAL_ACCEPT.'
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1776196772334'
        - sys.query
        selected: false
        title: referral decision classifier
        type: question-classifier
        vision:
          enabled: false
      height: 398
      id: '1778711100000'
      position:
        x: 1022.3233200936888
        y: 677.7931101992907
      positionAbsolute:
        x: 1022.3233200936888
        y: 677.7931101992907
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Хорошо. Мне необходимо передать информацию другому специалисту: напишите,
          пожалуйста, желаемую ставку за занятие, сколько раз хотите заниматься и
          другую дополнительную информацию о ребенке.'
        desc: ''
        selected: false
        title: referral details request
        type: answer
        variables: []
      height: 180
      id: '1778711210000'
      position:
        x: 1808.149717420634
        y: 882.4502913635947
      positionAbsolute:
        x: 1808.149717420634
        y: 882.4502913635947
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: waiting_referral_details
          variable_selector:
          - conversation
          - lead_status
          write_mode: over-write
        selected: false
        title: lead_status = referral details
        type: assigner
        version: '2'
      height: 84
      id: '1778810000003'
      position:
        x: 1377.2838137632782
        y: 860
      positionAbsolute:
        x: 1377.2838137632782
        y: 860
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Спасибо, передам информацию менеджеру.
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: referral details received
        type: answer
        variables: []
      height: 102
      id: '1778810000005'
      position:
        x: 735
        y: 880
      positionAbsolute:
        x: 735
        y: 880
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Поняла, спасибо за обращение. Если позже понадобится подготовка к
          ОГЭ или ЕГЭ - буду рада помочь.
        desc: ''
        selected: false
        title: referral declined
        type: answer
        variables: []
      height: 132
      id: '1778711310000'
      position:
        x: 1803.0939570163773
        y: 1078.0636558104165
      positionAbsolute:
        x: 1803.0939570163773
        y: 1078.0636558104165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778705062518'
          - result
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: c9402fda-56f6-4604-b939-73feceb7d572
          role: system
          text: 'Ты отвечаешь только на основании найденных фрагментов базы знаний.


            Вопрос пользователя:

            {{#sys.query#}}


            Найденная информация:

            {{#context#}}


            КАТЕГОРИЧЕСКОЕ ПРАВИЛО ДЛЯ ВОПРОСОВ О ЦЕНАХ:

            Сначала извлеки выбранный экзамен и предмет.

            Экзамен выбран, если в текущем сообщении или истории диалога есть одно
            из слов: ЕГЭ, ОГЭ.

            Предмет выбран, если в текущем сообщении или истории диалога есть одно
            из слов: история, обществознание, общество.

            Для ответа по цене достаточно только двух параметров: экзамен и предмет.
            НЕ спрашивай формат занятий, индивидуально/группа, количество занятий,
            ставку, класс, уровень ученика или другие дополнительные параметры.

            Примеры полностью выбранного направления: - "Сколько стоит ЕГЭ история"
            = экзамен ЕГЭ, предмет история. Это полный выбор. Нужно назвать цену.
            - "цена ОГЭ обществознание" = экзамен ОГЭ, предмет обществознание. Это
            полный выбор. Нужно назвать цену. - Если до этого пользователь написал
            "ЕГЭ", а сейчас написал "история" = экзамен ЕГЭ, предмет история. Это
            полный выбор. Нужно назвать цену.

            - Строго запрещено называть все цены всех предметов, весь прайс, все тарифы,
            все пакеты, сравнивать цены по предметам или экзаменам.

            - Строго запрещено называть цену, если пользователь не выбрал конкретный
            экзамен и конкретный предмет.

            - Если пользователь спрашивает цены, но не указал ни экзамен, ни предмет,
            ответь ровно по смыслу: Да, конечно. Я вам предоставлю необходимую информацию
            по ценам. Но для начала хочу уточнить: вам нужна подготовка к ЕГЭ или
            ОГЭ? Вам нужны история или обществознание?

            - Если это продолжение ценового сценария и пользователь ответил только
            "ЕГЭ" или только "ОГЭ", НЕ предлагай пробный урок. Спроси только предмет:
            Отлично, подготовка к ЕГЭ/ОГЭ есть. Какой предмет вас интересует: история
            или обществознание?

            - Если это продолжение ценового сценария и пользователь ответил только
            "история" или только "обществознание", НЕ предлагай пробный урок. Спроси
            только экзамен: Поняла, по предмету сориентирую. Вам нужна подготовка
            к ЕГЭ или ОГЭ?

            - Если из текущего сообщения или истории диалога уже понятны и экзамен,
            и предмет, это считается выбранным экзаменом и предметом. НЕ уточняй заново.
            Найди в найденной информации только цену для выбранного экзамена и предмета.
            Назови только эту релевантную цену.

            - Если экзамен и предмет понятны, строго запрещено просить пользователя
            подтвердить предмет, подтвердить формат, выбрать формат занятий или уточнить
            индивидуально/в группе. Это уже полный выбор для цены.

            - В ценовом сценарии строго запрещено отвечать вопросом "Хотите узнать
            стоимость занятий или сразу записаться на пробный урок?" Если пользователь
            спрашивал цену и уже понятны экзамен и предмет, нужно сразу назвать релевантную
            цену.

            - После озвучивания релевантной цены обязательно предложи пробный урок:
            Предлагаю посетить бесплатный пробный урок, на котором расскажу, как проходят
            занятия. Удобно будет провести пробное в четверг в 17:00 по московскому
            времени?

            СЦЕНАРИЙ ПОСЛЕ ПРЕДЛОЖЕНИЯ ПРОБНОГО:

            - Если пользователь соглашается на четверг в 17:00, переходи к блоку
            "VK И РОДИТЕЛЬ/УЧЕНИК".

            - Если пользователю не подходит четверг в 17:00, предложи еще два варианта:
            Могу еще предложить время в понедельник и четверг в 16:00 по мск, как
            вам?

            - Если пользователю не подходит ни одно из предложенных времен, предложи
            презентацию курса:
            Хорошо, тогда у меня есть план Б. Я могу вам отправить видео с презентацией
            курса. Это то, что я рассказываю в конце пробного урока. Так вы сэкономите
            время и поймете, как проходят занятия. Что думаете?

            - Если пользователь выбрал любое время пробного или согласился на презентацию
            курса, переходи к блоку "VK И РОДИТЕЛЬ/УЧЕНИК".

            VK И РОДИТЕЛЬ/УЧЕНИК:

            - Если из контекста переписки непонятно, общаешься ли ты с родителем или
            учеником, сначала спроси:
            Хочу уточнить: я сейчас общаюсь с родителем или учеником?

            - Если понятно, что общаешься с родителем, сразу отправь:
            https://vk.com/id752935587 перешлите ссылку ребенку. Пусть добавляется
            в друзья. Там расскажу, как подключиться.

            Обязательно напишите фамилию и имя ребенка и Ваш номер телефона, привязанный
            к WhatsApp. Это нужно сделать, чтобы я смогла найти его заявку в ВК и
            отправить информацию насчет пробного занятия)

            - Если понятно, что общаешься с учеником, сразу отправь:
            https://vk.com/id752935587 добавляйтесь в друзья, там расскажу, как подключиться.

            Обязательно напишите, как вы подписаны в ВК и Ваш номер телефона, привязанный
            к WhatsApp. Это нужно сделать, чтобы я смогла найти вашу заявку и отправить
            информацию насчет пробного занятия)

            - После отправки VK-инструкции или после выбора презентации/времени считай,
            что лид нужно передать на менеджера внутри процесса. Клиенту не говори,
            что с ним общается менеджер.

            - Если подходящей цены для выбранного экзамена и предмета в найденной
            информации нет, не придумывай цену. Скажи только: На данный момент не
            могу предоставить точную информацию по стоимости для выбранного направления.
            Лучше уточнить актуальную цену в VK: https://vk.com/id752935587


            Правила:

            - Не придумывай цены.

            - Не цитируй весь прайс и не пересказывай найденные фрагменты с чужими
            предметами или экзаменами.

            - Если вопрос неясный, уточни предмет и формат: ОГЭ/ЕГЭ.

            - Ссылку на VK давать можно только как дополнительный канал уточнения,
            но не вместо ответа по найденной конкретной цене.

            Дополнительные правила:

            - Если говоришь о первом пробном занятии, обязательно учитывай, что оно
            групповое.

            - Отвечай на "вы", уважительно и грамотно.

            - При озвучивании формата всегда говори, что можно подобрать удобный формат
            для клиента.

            - Если это первое сообщение от клиента, обязательно здоровайся.

            - Используй естественные короткие вставки: "хорошо", "поняла вас", "да,
            конечно" и похожие, но не перегружай ответ.

            - Делай абзацы и отступы. Текст должен легко читаться.

            - Не перегружай клиента информацией.

            - Не придумывай ответы. Если нужного ответа нет, подключай менеджера внутри
            процесса, но не говори клиенту, что с ним общается менеджер.'
        selected: false
        title: LLM (1)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17779338523370'
      position:
        x: 1778.826307075946
        y: 188.27855043306147
      positionAbsolute:
        x: 1778.826307075946
        y: 188.27855043306147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17779338523370.text#}}'
        isInIteration: false
        isInLoop: false
        selected: false
        title: Ответ (1)
        type: answer
        variables: []
      height: 102
      id: '17779338829760'
      position:
        x: 2051.130596716615
        y: 188.27855043306147
      positionAbsolute:
        x: 2051.130596716615
        y: 188.27855043306147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 72UfEu99fptU7+06ALNLbPOED1UE7NVpiI5VsoDi0pdOdoP8cJ5y5mQfFjsvtnDb
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-small
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: Поиск знаний
        type: knowledge-retrieval
      height: 90
      id: '1778705062518'
      position:
        x: 1496.2974189063675
        y: 188.27855043306147
      positionAbsolute:
        x: 1496.2974189063675
        y: 188.27855043306147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: c9402fda-56f6-4604-b939-73feceb7d572
          role: system
          text: 'Правило для заявок на подготовку к ЕГЭ/ОГЭ:

            - Если клиент указал только экзамен, но не указал предмет, НЕ предлагай
            пробное занятие. Сначала уточни предмет: "Отлично, подготовка к ОГЭ/ЕГЭ
            есть. Какой предмет вас интересует: история или обществознание?"

            - Если клиент указал предмет, но не указал экзамен, НЕ предлагай пробное
            занятие. Сначала уточни формат: "Вам нужна подготовка к ЕГЭ или ОГЭ?"

            - Если клиент указал и экзамен, и предмет, подтверди направление и спроси,
            чем помочь дальше. НЕ предлагай пробный урок в этом узле.

            - Пробный урок предлагай только после прямой просьбы записаться или в
            ценовом сценарии после озвучивания релевантной цены.

            - Строго запрещено писать: "Хотите узнать стоимость занятий или записаться
            на пробный урок?" и похожие развилки, если пользователь пришел из вопроса
            о цене.

            - Не называй цены в этом узле. Цены обрабатывает отдельный сценарий PRICE_QUESTION.'
        selected: false
        title: LLM (2)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17787090988200'
      position:
        x: 1815.2277819865928
        y: 536.8388501519341
      positionAbsolute:
        x: 1815.2277819865928
        y: 536.8388501519341
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17787090988200.text#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: Ответ (2)
        type: answer
        variables: []
      height: 102
      id: '17787091219680'
      position:
        x: 2102.2798557336628
        y: 536.8388501519341
      positionAbsolute:
        x: 2102.2798557336628
        y: 536.8388501519341
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: c9402fda-56f6-4604-b939-73feceb7d572
          role: system
          text: Здравствуйте! Извините, пока не беру заказы до 9 класса. Но я зафиксирую
            ваши контакты на будущее, когда появятся свободные места
        selected: false
        title: LLM (3)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17787094780140'
      position:
        x: 1808.149717420634
        y: 648.9608428482366
      positionAbsolute:
        x: 1808.149717420634
        y: 648.9608428482366
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Здравствуйте! Извините, пока не беру заказы до 9 класса. Но я зафиксирую
          ваши контакты на будущее, когда появятся свободные места
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: Ответ (3)
        type: answer
        variables: []
      height: 148
      id: '17787094780141'
      position:
        x: 2398.5474154230947
        y: 648.9608428482366
      positionAbsolute:
        x: 2398.5474154230947
        y: 648.9608428482366
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: c9402fda-56f6-4604-b939-73feceb7d572
          role: system
          text: Здравствуйте! Прошу прощения, не могу помочь с этим вопросом. Я занимаюсь
            только приёмом заявок на подготовку к ОГЭ и ЕГЭ
        selected: false
        title: LLM (4)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17787096935240'
      position:
        x: 1808.149717420634
        y: 763.3220041961386
      positionAbsolute:
        x: 1808.149717420634
        y: 763.3220041961386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Здравствуйте! Прошу прощения, не могу помочь с этим вопросом. Я занимаюсь
          только приёмом заявок на подготовку к ОГЭ и ЕГЭ
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: Ответ (4)
        type: answer
        variables: []
      height: 132
      id: '17787096935241'
      position:
        x: 2085.090270359191
        y: 763.3220041961386
      positionAbsolute:
        x: 2085.090270359191
        y: 763.3220041961386
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Здравствуйте! Извините, я сейчас занимаюсь только подготовкой к экзаменам

          Но я могу подобрать вам другого специалиста среди моих коллег-репетиторов.
          Что думаете?'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: Ответ (5)
        type: answer
        variables: []
      height: 164
      id: '17787097912781'
      position:
        x: 1377.2838137632782
        y: 1113.815869400839
      positionAbsolute:
        x: 1377.2838137632782
        y: 1113.815869400839
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 'Версия: 4. Публикация: 2026-05-16 21:21:57 Europe/Lisbon.'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: version answer
        type: answer
        variables: []
      height: 102
      id: '1778800000001'
      position:
        x: 735
        y: 1185
      positionAbsolute:
        x: 735
        y: 1185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: waiting_referral_decision
          variable_selector:
          - conversation
          - lead_status
          write_mode: over-write
        selected: false
        title: lead_status = decision
        type: assigner
        version: '2'
      height: 84
      id: '1778711700000'
      position:
        x: 1022.3233200936888
        y: 1089.5482194604076
      positionAbsolute:
        x: 1022.3233200936888
        y: 1089.5482194604076
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: c9402fda-56f6-4604-b939-73feceb7d572
          role: system
          text: 'Ты отвечаешь на FAQ-вопросы клиента строго по таблице FAQ.


            Вопрос клиента:

            {{#sys.query#}}


            Правила:

            - Выбери самый подходящий пункт FAQ.

            - Отвечай на "вы", уважительно и грамотно.

            - Не говори, что с клиентом общается менеджер.

            - Не придумывай факты вне FAQ.

            - Если вопрос про цены, ЕГЭ/ОГЭ, 5-8 классы или математику 5-8, не отвечай здесь по FAQ. Скажи: "Уточню по вашему вопросу и вернусь с ответом."

            - Если вопрос про звонок и клиент просто просит позвонить, ответь: "Прошу прощения, сейчас неудобно говорить, предлагаю продолжить общение в чате"

            - Если клиент настойчиво просит позвонить, ответь: "Хорошо, напишите свой номер телефона. Я свяжусь с вами позже."


            FAQ:

            1. Через какую платформу вы работаете?
            Ответ: Работаю через российскую платформу МТС Линк. Подключиться легко, достаточно перейти по ссылке

            2. Как вы работаете?
            Ответ: Часть уроков проходят в формате вебинаров, часть индивидуально. На вебинар, где идет разбор теории и заданий, подключаются все ученики курса. После него в отдельный день проходит индивидуальное занятие на закрепление пройденного. Также можно выбрать формат только индивидуальных занятий

            3. Это индивидуальные уроки? Это групповые уроки?
            Ответ: У меня можно заниматься в любом удобном для вас формате, как индивидуально, так и в группе. После пробного занятия сможете выбрать подходящий для вас вариант

            4. У вас онлайн-школа?
            Ответ: Нет, у меня индивидуальный подход к каждому ученику. Заниматься можно в разных форматах, о которых рассказываю на пробном уроке)

            5. Занятия ведете вы или кто-то другой?
            Ответ: Все вебинары веду я. Индивидуальные уроки на закрепление пройденного проводят наставники, которые сдали ЕГЭ на 90+ баллов. Они прошли курс репетиторства и работают по моей методике. Некоторые имеют опыт преподавания 3 года. Учатся в топовых вузах страны

            6. Сколько уроков в неделю?
            Ответ: 2-3 урока в неделю. Столько нужно, чтобы успеть пройти все темы до экзамена. Без этого не сможем решать все задания, каждое из которых относится к конкретной теме

            7. Как оплачивать?
            Ответ: Оплата по ссылке или QR-коду, за месяц вперед, также можно выбрать дату, когда удобно платить

            8. Можно платить после каждого занятия?
            Ответ: Оплата за месяц, но вы можете выбрать удобную дату ежемесячного платежа

            9. Как будет проходить подготовка у 10 классов?
            Ответ: В начале недели буду скидывать запись вебинара. Ребятам необходимо его посмотреть в течение недели в удобное время. Потом выучить конспект и сделать ДЗ. В выходные будет проходить индивидуальное занятие с наставником, на закрепление изученного. Время занятия - по договоренности. Этого вполне достаточно, чтобы в 10 классе готовиться к ЕГЭ

            10. Какое расписание?
            Ответ: После пробного сможем подобрать удобное для вас расписание

            11. Не подходит время пробного и сразу спрашивают про время занятий
            Ответ: Да, думаю время занятий можно поставить в это время. Но для начала нужно найти время для пробного. У меня есть окошки, которые держу именно для него. После пробного уже стараюсь найти вариант времени, удобный для ученика

            12. У меня нет страницы в ВК / не хочу переходить в ВК / можем перейти в WhatsApp, Telegram
            Ответ: Извините, у меня вся коммуникация происходит в ВК. Скажите, получится создать страничку?'
        selected: false
        title: FAQ LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778820000001'
      position:
        x: 1808.149717420634
        y: 1305
      positionAbsolute:
        x: 1808.149717420634
        y: 1305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1778820000001.text#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: FAQ answer
        type: answer
        variables: []
      height: 102
      id: '1778820000002'
      position:
        x: 2085.090270359191
        y: 1305
      positionAbsolute:
        x: 2085.090270359191
        y: 1305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -306.6016685208274
      y: 343.8713532200725
      zoom: 0.9889709163809318
  rag_pipeline_variables: []
